/* header part  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav > ul {
    display: flex;
    align-items: center;
    
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.primary {
    color: orange;
    
}


nav h3 {
    font-size: 45px;
}

.new {
    background-color: orange;
    border: 0px;
    border-radius: 3px;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
}

.banner {
    margin: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile{
    height: 676px;
    width: 586px;
}
.banner .banner-content{
    max-width: 585px;
    max-height: 356px;
}

.header{
    background-color: rgb(234, 232, 229);
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-gretting{
    font-size: 45px;
    margin-bottom: 0;
}

.name {
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 0;
}





/* main part */

main{
    max-width: 1140px;
    margin: 70px auto;
}

main section{
    margin-top: 130px;
}


.about{
    padding: 130px;
    background-color: rgb(243, 240, 236);
    border-radius: 10px;
    margin:130px 0;
}
.section-title{
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-between;

}

.info-title{
    text-align: center;
    margin-bottom: 5px;
}
.info-description{
    text-align: center;
    margin-top: 0;
    font-style: oblique;
}

#what-i-do{
    padding: 20px 150px;
}

.skills-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skill{
    background-color: aliceblue;
    padding: 32px;
}

.resume-container{
    display: flex;
    gap: 30px;
}

.resume-column-title{
    font-size: 20px;
}

.resume-item-title{
    font-size: 17px;
}

.resume-item-institution{
    font-size: 15px;
   
}

.resume-container hr{
    margin: 30px;
}

.cv{
    margin-top: 30px;
    text-align: center;
}



/* footer part */

footer{
    padding: 130px 200px;
    background-color: rgb(243, 240, 236);
    gap: 100px;
}


.image{
    margin-right: 10px;
}

.foot-item{
    margin-bottom: 50px;
}

.foot-container{
    width: 50%;
    
}

#foots{
    gap: 300px;
}

/* .message{
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    font-size: 10px;
    text-align: left;
}

.msg{
    width: 300px;
    height: 100px;
    text-align ;
    font-size: 10px;
} */

.from input[type="text"], .from input[type="email"], textarea{
    display: block;
    margin-bottom: 20px;
    padding: 15px;
    color: rgb(9, 9, 9);
    background-color: rgb(250, 248, 252);
    width: 80%;
    border: 0;
    
}